* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}
@font-face {
  font-family: 'Barlow semi bold';
  src: url('/font/barlow/Barlow-SemiBold.ttf');
}

@font-face {
  font-family: 'Barlow regular';
  src: url('/font/barlow/Barlow-Regular.ttf');
}
.dashboard{
    /* padding: 120px 0; */
    /* margin: 0 162px; */
}
.NavHome {
  display: flex;
  gap:20vw;     
  justify-content: center;
  align-items: center;
  background-color: #111;  
    padding: 14px 24px;

    border-bottom: 1px solid white;
}


.NavHome a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: "Barlow Semi Bold", sans-serif;
  transition: color 0.3s ease, transform 0.2s ease;

}

.NavHome a:hover {
  color: rgba(158, 255, 0, 1);       
  transform: scale(1.05); }


@media screen and (max-width:1440px){  
  .dashboard{
    /* padding: 100px 0; */
    /* margin: 0 80px; */
  }
  .NavHome{
    gap: 10vw;
} 
.NavHome a{    
    font-size: 16px;
}
}
@media screen and (max-width:992px){  
  .dashboard{
 
    /* margin: 0 20px; */
  }
.NavHome{
    gap: 9vw;
} 
.NavHome a{    
    font-size: 14px;
}}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/barlow.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.cardService {
  border: 1px solid rgb(46, 46, 46);
  padding: 50px;
  display: grid;

  grid-template-rows: 35% 54%;
}

.paragraphIcon-container img {
  border-radius: 10px;
  background-image: linear-gradient(
    180deg,
    #2e2e2e 0%,
    rgba(46, 46, 46, 0) 100%
  );
  border-top: 1px solid rgb(46, 46, 46);
  border-left: 1px solid rgb(46, 46, 46);
  border-right: 1px solid rgb(46, 46, 46);
  padding: 24px;
}

.titleService,
.textService {
  color: white;
  font-family: "Barlow", sans-serif;
}
.titleService {
  line-height: 150%;
  font-size: 30px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
}
.textService {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 104px;
  line-height: 24px;
  letter-spacing: -0.6%;
}

.learnMore {
  width: 100%;
  height: 60px;
  margin-bottom: 50px;
  border-radius: 8px;
  border: none;
  background-color: #373737;
  color: white;
  bottom: 0;
}
.servicesCard {
  margin: 0 163px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.paragraphIcon-container {
  align-items: center;
}
.paragraphIcon-container .titleService {
  align-items: center;
}
@media screen and (max-width: 1440px) {
  .servicesCard {
    margin: 0 80px;
  }
  .cardService {
    padding: 40px;
    grid-template-rows: 30% 60%;
  
  }

  .paragraphIcon-container img {
    padding: 20px;
  }

  .titleService {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 14px;
  }
  .textService {
    font-size: 16px;
    padding-bottom: 84px;
  }

  .learnMore {
    height: 52px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 992px) {
  .servicesCard {
    grid-template-columns: 1fr;
    margin: 0 16px;
  }
  .cardService {
    padding: 30px;
    grid-template-rows: 25% auto 15%;
  }
  .icon-container{
padding-top: 30px;
}
  .paragraphIcon-container {
    /* width: 58px; */
  }
  .paragraphIcon-container img {
    /* padding: 16px; */
  }
  .paragraphIcon-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
  }

  .titleService {
    font-size: 20px;
    padding-left: 14px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .textService {
    font-size: 14px;
    padding-bottom: 24px;
    padding-top: 24px;
  }

  .learnMore {
    position: relative;
    width: 100%;
    margin-bottom: 0px;
  }
}
