.work-container {
    margin: 0 auto;
    padding: 0 162px;
    box-sizing: border-box;
}

.intro-section h1 {
    font-family: barlow6;
    font-size: 48px;
    margin-top: 120px;
    margin-bottom: 14px;
    color: var(--writing-color-titles);
}

.intro-text {
    font-size: 18px;
    color: var(--paragraph-color);
    margin-bottom: 50px;
}

.work-container h2 {
    display: inline-block;
    padding: 14px 12px;
    font-size: 22px;
    font-weight: normal;
    color: var(--writing-color-titles);
    background: var(--rarely-backgroundcolor);
    border-radius: 8px;
    margin-bottom: 2rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 1440px) {
    .work-container {
        padding: 0 60px;
    }

    .intro-section h1 {
        font-size: 40px;
    }

    .intro-text {
        font-size: 16px;
    }

    .work-container h2 {
        font-size: 20px;
        padding: 12px 10px;
    }

    .projects-grid {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}

@media screen and (max-width: 992px) {
    .work-container {
        padding: 0 20px;
    }

    .projects-grid {
        gap: 1.5rem;
    }

    .intro-section h1 {
        font-size: 28px;
        margin-top: 60px;
    }

    .intro-text {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .work-container h2 {
        font-size: 18px;
        padding: 10px 8px;
    }

    .projects-grid {
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }
}