* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.padding {
    padding-left: 162px;
    padding-right: 162px;
}

.container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}


.text {
    margin-top: 100px;
    max-width: 598px;
    max-height: 288px;
    
    p{
        font-weight: 400px;
        font-size: 20px;
        color: #E6E6E6;
    }
}

h1 {
    margin-bottom: 20px;
    font-weight:600px ;
    font-size:48px ;
    color: #FFFFFF;

}

.hero {
    position: relative;
    max-width: 598px;
    max-height: 571px;
    z-index: 0;
}

.img {
    position: relative;
    width: 598px;
    
}


.img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    transform: translateX(-50%);
    z-index: 1;
    background: linear-gradient(
        to bottom,
        rgba(158,255,0,0) 0%,     
        rgba(158,255,0,1) 35%,    
        rgba(158,255,0,1) 65%,
        rgba(158,255,0,0) 100%    
    );
    filter: drop-shadow(0 0 10px rgba(158,255,0,.35));
    pointer-events: none;
}



.img::after {
    content: ''; 
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 3px;
    transform: translateY(-50%);

    z-index: 1;
   
    background: linear-gradient(
        to right,
        rgba(158,255,0,0) 0%,     
        rgba(158,255,0,1) 35%,    
        rgba(158,255,0,1) 65%,
        rgba(158,255,0,0) 100%    
    );
    filter: drop-shadow(0 0 10px rgba(158,255,0,.35));
    pointer-events: none;

}

.logo {
    width: 150.7px;
    height: 150px;
    background-color: #9EFF00;
    display: flex;
    border-radius: 27px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    
}
/* .logo::before {
    content: '';
    position: absolute;
    inset: -120px; 
    background: radial-gradient(circle,
        rgba(255, 255, 255, 0.65) 0%,
        rgba(255, 255, 255, 0) 70%);
    backdrop-filter: blur(217px);  
    z-index: -1; 
  } */

.iconAbout {
    width: 80px;
    height: 90px;
    
}



@media screen and (max-width: 1440px) {

    .logo{
        width: 100px;
        height:100px ;
        border-radius: 16px;


    }
    .iconAbout {
        max-width: 53px;
        max-height: 60px;
        
    }
    .text {
        max-width: 490px;
        p{
            font-size: 16px;
        }
        h1{
        font-size: 38px;
        }
    }
    .img {
        order: 2; 
        width:100%;
        
    }
    .hero {
        width: 490px;
        height: auto;
    }
    .padding {
        padding-left:80px;
        padding-right: 80px;
    }

    .logo::before {
        inset: -90px;
      }
    
      .img::before {
        width: 3px;
      }
      .img::after {
        height: 3px;
      }
}

@media screen and (max-width: 992px) {
.container{
    flex-direction: column;
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px;
}
    .iconAbout {
        max-width: 42pxpx;
        max-height: 48px;
        
    }
    .padding {
        padding-left: 30px;
        padding-right: 30px;
    }
    .text{
        min-width:91.79vw ;
        margin-bottom: 30px;
        p{
            font-size: 14px;
            
        }
        h1{
        font-size: 28px;
        margin-bottom: 16px;
        }
    }
    .hero {
        width: 100%;
    }
    .img{
        width:91.79vw;
        display: flex;
        justify-content: center;
        align-items: center;


    }
    .iconAbout {
        max-width: 42.67px;
        max-height: 48px;
    }
    .logo {
        width: 80px;
        height: 80px;
        border-radius: 16px;
}
/* .logo::before {
    inset: -60px;   */
  }

  .img::before {
    width: 3px;
  }
  .img::after {
    height: 3px;
  }
}