.main {
    padding: 0 162px;
    background-size: cover;
    color: var(--color-text);
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    max-width: 1596px;
    margin-left: auto;
    margin-right: auto;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1597px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);

}
@media (max-width: 1440px) {
    .main {
        padding: 0 80px;
    }
    
    .header {
        max-width: 1280px;
        margin-bottom: 25px;
    }
    
    .card-grid {
        max-width: 1280px;
    }
}

@media (max-width: 992px) {
    .main {
        padding: 0 16px;
    }
    
    .header {
        max-width: 100%;
        margin-bottom: 20px;
        flex-direction: column;
        text-align: center;
    }
    
    .card-grid {
        grid-template-columns: 1fr;
        max-width: 100%;
    }
}