.heroHome {
  background-image: url("../../assets/imgs/Home/dots.png");
  background-repeat: repeat;
  height: 100vh;
  padding-top: 212px;
  text-align: center;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #262626;
  margin-left: 162px;
  margin-right: 162px;
}
.heroHome img {
  height: 41.48%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-repeat: repeat;
}
.heroHome .title {
  background: none;
  color: #ffffff;
  font-family: barlow6;
  font-size: 68px;
  line-height: 1;
  margin-bottom: 40px;
  max-width: 865px;
  margin-bottom: 40px;
}
.heroHome .paragraph {
  font-family: barlow4;
  font-size: 22px;
  color: #98989a;
  max-width: 865px;
  margin-bottom: 50px;
  padding: 24px 40px;
  border: 1px solid #262626;
  backdrop-filter: blur(12px);
  border-radius: 12px;
}
.heroHome .paragraph span {
  padding: 8px 10px;
  background-color: #262626;
  border-radius: 8px;
  color: #FFFFFF;
}
.heroHome .btns {
  display: flex;
  gap: 13px;
}
.heroHome .btn {
  font-family: barlow5;
  font-size: 18px;
  padding: 18px 28px;
  border: 1px solid #262626;
  border-radius: 10px;
  background-color: #24242433;
  border: 1px solid #333333;
  backdrop-filter: blur(12px);
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s all;
}
.heroHome .btn:hover {
  background-color: #9eff00;
  color: #262626;
}
.heroHome .description {
  font-family: barlow5;
  font-size: 18px;
  padding: 20px 34px;
  border-radius: 100px;
  background-color: #1a1a1a;
  border: 1px solid #262626;
  position: absolute;
  bottom: -34px;
  color: #fdfffa;
}
@media screen and (max-width: 1440px) {
  /* .whiteSpacing{
        padding-left: 80px;
        padding-right: 80px;
    } */
  .heroHome {
    padding-top: 197px;
    margin-left: 80px;
    margin-right: 80px;
  }
  .heroHome .title {
    font-size: 48px;
    margin-bottom: 30px;
    max-width: 699px;
  }
  .heroHome .paragraph {
    max-width: 699px;
    font-size: 18px;
    padding: 18px 30px;
    margin-bottom: 40px;
  }
  .heroHome .btn {
    font-size: 14px;
    padding: 14px 20px;
  }
  .heroHome .description {
    font-size: 14px;
    padding: 14px 24px;
    bottom: -26px;

  }
}
@media screen and (max-width: 992px) {
  /* .whiteSpacing{
        padding-left: 20px;
        padding-right: 20px;
    } */
  .heroHome {
    padding-top: 186px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
  }
  .heroHome .title {
    font-size: 34px;
  }
  .heroHome .paragraph {
    font-size: 16px;
    padding: 18px 20px;
    line-height: 1.5;
  }
  .heroHome .paragraph span {
    color: #98989a;
    background: none;
  }
.heroHome .description {
    bottom: -28px;
}
}
