.RB_HeroHome {
  background-image: url("../../assets/imgs/Home/dots.png");
  background-repeat: repeat;
  height: 100vh;
  padding-top: 212px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--secondary-backgroundcolor);
}
.RB_HeroHome img {
  height: 41.48%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-repeat: repeat;
}
.RB_HeroHome .RB_Title {
  background: none;
  color: var(--writing-color-titles);
  font-family: barlow6;
  font-size: 68px;
  line-height: 1;
  margin-bottom: 40px;
  max-width: 865px;
  margin-bottom: 40px;
}
.RB_HeroHome .RB_Paragraph {
  font-family: barlow4;
  font-size: 22px;
  color: var(--writing-color);
  max-width: 865px;
  margin-bottom: 50px;
  padding: 24px 40px;
  border: 1px solid var(--secondary-backgroundcolor);
  backdrop-filter: blur(12px);
  border-radius: 12px;
}
.RB_HeroHome .RB_Paragraph span {
  padding: 8px 10px;
  background-color: var(--secondary-backgroundcolor);
  border-radius: 8px;
  color: var(--writing-color-titles);
}
.RB_HeroHome .RB_Btns {
  display: flex;
  gap: 13px;
}
.RB_HeroHome .RB_Btn {
  font-family: barlow5;
  font-size: 18px;
  padding: 18px 28px;
  border: 1px solid var(--secondary-backgroundcolor);
  border-radius: 10px;
  background-color: #24242433;
  border: 1px solid #333333;
  backdrop-filter: blur(12px);
  color: var(--writing-color-titles);
  cursor: pointer;
  transition: 0.2s all;
}
.RB_HeroHome .RB_Btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-backgroundcolor);
}
.RB_HeroHome .RB_Description {
  font-family: barlow5;
  font-size: 18px;
  padding: 20px 34px;
  border-radius: 100px;
  background-color: var(--primary-backgroundcolor);
  border: 1px solid var(--secondary-backgroundcolor);
  position: absolute;
  bottom: -34px;
  color: #fdfffa;
}
@media screen and (max-width: 1440px) {
  .RB_HeroHome {
    padding-top: 197px;

  }
  .RB_HeroHome .RB_Title {
    font-size: 48px;
    margin-bottom: 30px;
    max-width: 699px;
  }
  .RB_HeroHome .RB_Paragraph {
    max-width: 699px;
    font-size: 18px;
    padding: 18px 30px;
    margin-bottom: 40px;
  }
  .RB_HeroHome .RB_Btn {
    font-size: 14px;
    padding: 14px 20px;
   text-decoration: none;
  }
  .RB_HeroHome .RB_Description {
    font-size: 14px;
    padding: 14px 24px;
    bottom: -26px;

  }
}
@media screen and (max-width: 992px) {

  /* .heroHome { */
  .RB_HeroHome {
    padding-top: 186px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
  }
  .RB_HeroHome .RB_Title {
    font-size: 34px;
  }
  .RB_HeroHome .RB_Paragraph {
    font-size: 16px;
    padding: 18px 20px;
    line-height: 1.5;
  }
  .RB_HeroHome .RB_Paragraph span {
    color: var(--writing-color);
    background: none;
  }
.RB_HeroHome .RB_Description {
    bottom: -28px;
}
}
