:root {
    --secondary-backgroundcolor: #1A1A1A;
    --secondary-backgroundcolor: #262626;
    --rarely-backgroundcolor: #333333;
    --primary-color: #9EFF00;
    --secondary-color: #D8FF99;
    --writing-color: #98989A;
    --writing-color-secondary: #98989A;
    --writing-color-rarely: #FDFFFA;
    --writing-color-titles: #FFFFFF;
    --paragraph-color: #E6E6E6;
}

.card {
    background-color: var(--secondary-backgroundcolor);
    padding: 60px;
    border: 1px solid rgb(80, 79, 79);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px var(--primary-color);
}

.card-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 26px;
}

.card p {
    font-size: 20px;
    color: var(--paragraph-color);
    padding-bottom: 40px;
    line-height: 150%;
    margin-top: 40px;
}

.card-actions {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 1440px) {
    .card {
        padding: 40px;
    }
    
    .card h3 {
        font-size: 22px;
    }
    
    .card p {
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 992px) {
    .card {
        padding: 30px 25px;
    }
    
    .card-header {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    
    .card h3 {
        font-size: 20px;
    }
    
    .card p {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    
    .card-actions {
        flex-direction: column;
        gap: 15px;
        align-items: stretch;
    }
}