.RB_Flex_About{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    overflow-x: auto;
}
@media screen and (max-width:992px){
    .RB_Flex_About{
        flex-direction: column;
        align-items: center;
    }
}
