.RB_ContactIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 1px solid var(--secondary-backgroundcolor);
    padding: 50px 0;
}
@media screen and (max-width:1440px) {
    .RB_ContactIcons{
        padding: 40px 0;
        gap: 20px;
    }
}
@media screen and (max-width:1440px) {
    .RB_ContactIcons{
        flex-direction: column;
        padding: 30px 24px;
    }
}