.RB_Table{
    width: 60%;
    margin:0 100px 0 auto;
    th{
        background-color: var(--primary-color);
        color: var(--primary-backgroundcolor);
        padding: 8px;
    }
    td{
        color: var(--primary-color);
        padding: 10px;
        border: 1px solid var(--primary-color);
        button,a{
            background: var(--primary-color);
            color: var(--primary-backgroundcolor);
            border: 1px solid var(--primary-backgroundcolor);
            border-radius: 6px;
            margin: 4px;
            padding: 10px;
            cursor: pointer;
            display: block;
            width: 100px;
            text-align: center;
        }
        a{
            text-decoration: none;
        }
    }
}