* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}
@font-face {
  font-family: 'Barlow semi bold';
  src: url('/font/barlow/Barlow-SemiBold.ttf');
}

@font-face {
  font-family: 'Barlow regular';
  src: url('/font/barlow/Barlow-Regular.ttf');
}

.dashboard{
 
    border-top: 1px solid var(  --writing-color-titles);
    
}
.DashNav {
  display: flex;
  gap: 15vw;     
  justify-content: center;
  align-items: center;
  background-color: #111;  
    padding: 14px 24px;
}


.DashNav a {
  color: var(  --writing-color-titles);  
  text-decoration: none;  
  font-size: 18px;
  font-family: "Barlow Semi Bold", sans-serif;
  transition: color 0.3s ease, transform 0.2s ease;
}

.DashNav a:hover {
  color: rgba(158, 255, 0, 1);    
  transform: scale(1.05);
}


@media screen and (max-width:1440px){  

  .DashNav{
    gap: 10vw;
} 
.DashNav a{    
    font-size: 16px;
}
}
@media screen and (max-width:992px){  

.DashNav{
    gap: 5vw;
} 
.DashNav a{    
    font-size: 14px;
}}