.Thank {
  position: relative;
  background-image: url("../../assets/imgs/Process/thank you.webp");
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: -1;
}
.logoAboutThank{
    box-shadow:  inset 0 0 27px var(--writing-color-titles);

}
.Thank::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  z-index: -1;
  filter: contrast(130%) brightness(16%) sepia(100%) hue-rotate(44deg)
    saturate(92%);
  -webkit-filter: contrast(130%) brightness(16%) sepia(100%) hue-rotate(44deg)
    saturate(92%);
}
.thankDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px 0;
}
.bglogothank {
  width: 80px;
  height: 80px;
  padding: 16px;
  background-color: #9eff00;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  z-index: 2;
  margin-bottom: 50px;
  img {
    width: 42.66665267944336px;
  }
}
.thanksParagraph {
  max-width: 896px;
}
.thanksParagraph .titleThank {
  color: var(--writing-color-titles);
  max-width: 896px;
  font-weight: 600;
  font-size: 38px;
  line-height: 100%;
  margin-bottom: 14px;
}

.discription {
  color: var(--paragraph-color);
  max-width: 896px;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 50px;
}
.but_start {
  position: relative;
  z-index: 2;
  width: 170px;
  height: 63px;
  color: var(--primary-backgroundcolor);
  background-color: #9eff00;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .bglogothank {
    width: 60px;
    height: 60px;
    padding: 12px 14px;
 margin-bottom: 40px;
    img {
      width: 32px;
    }}
.thanksParagraph {
  max-width: 750px;
}
.thanksParagraph .titleThank {
  max-width: 896px;
  font-size: 30px;
  margin-bottom: 10px;
}

.discription {

  font-size: 16px;
  line-height: 150%;
  margin-bottom: 40px;
}
.but_start {
  width: 127px;
  height: 49px;
  font-size: 14px;

}
.thankDiv {

  padding: 100px 0;
}

}
@media screen and (max-width: 992px) {
  .bglogothank {
    width: 50px;
    height: 50px;
    padding: 10px 11.78px;

    img {
      width: 26.67px;
    }}
.thanksParagraph {
padding: 28px 16px;
}
.thanksParagraph .titleThank {
margin-top: 0;
  font-size: 24px;
  margin-bottom: 6px;
  line-height: 100%;
}

.discription {
margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;

}
.thankDiv {
  padding: 50px 0;
}

}