@font-face {
  font-family: "Barlow";
  src: url("/fonts/barlow.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.servicesC {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.cardService {
  border: 1px solid rgb(46, 46, 46);
  padding: 50px;
  display: grid;
  rid-template-rows: 50% ;
  }
  
.titleService,
.textService {
  color: var(--writing-color-titles);
  font-family: "Barlow", sans-serif;
}
.titleService {
  line-height: 150%;
  font-size: 30px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
}
.textService {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 104px;
  line-height: 24px;
  letter-spacing: -0.6%;
}

.learnMore {
  width: 100%;
  height: 60px;
  margin-bottom: 50px;
  border-radius: 8px;
  border: none;
  background-color: #373737;
  color: var(--writing-color-titles);
  bottom: 0;
}

.paragraphIcon-container {
  align-items: center;
}
.paragraphIcon-container .titleService {
  align-items: center;
}
  @media screen and (max-width: 1440px) {

   .cardService {
    padding: 40px;
    grid-template-rows: 30% 60%;
  
  }
  .paragraphIcon-container img {
    padding: 20px;
  }

  .titleService {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 14px;
  }
  .textService {
    font-size: 16px;
    padding-bottom: 84px;
  }

  .learnMore {
    height: 52px;
    margin-bottom: 40px;
  }
  }
 
@media screen and (max-width: 992px) {
  .servicesC {
    grid-template-columns: 1fr;

  }
  .cardService {
    padding: 30px;
    grid-template-rows: 25% auto 25%;
  }
  .icon-container{
padding-top: 30px;
}
  .paragraphIcon-container {
    width: 58px;
  }
  .paragraphIcon-container img {
    padding: 16px;
  }
  .paragraphIcon-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
  }

  .titleService {
    font-size: 20px;
    padding-left: 14px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .textService {
    font-size: 14px;
    padding-bottom: 24px;
    padding-top: 24px;
  }

  .learnMore {
    position: relative;
    width: 100%;
    margin-bottom: 0px;
  }
} 

