:root{
  --primary-backgroundcolor:#1A1A1A;
  --secondary-backgroundcolor:#262626;
  --rarely-backgroundcolor:#333333;
  --primary-color:#9EFF00;
  --secondary-color:#D8FF99;
  --writing-color:#98989A;
  --writing-color-secondary:#98989A;
  --writing-color-rarely:#FDFFFA;
  --writing-color-titles:#FFFFFF;
  --paragraph-color:#E6E6E6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
@font-face {
  font-family: barlow4;
  src: url("/font/barlow/Barlow-Regular.ttf");
}
@font-face {
  font-family: barlow5;
  src: url("/font/barlow/Barlow-Medium.ttf");
}

@font-face {
  font-family: barlow6;
  src: url("/font/barlow/Barlow-SemiBold.ttf");
}   
@font-face {
  font-family: inter4;
  src: url("/font/inter/Inter_18pt-Regular.ttf");
}
.whiteSpacing{
    margin-right: 162px;
    margin-left: 162px;
}
@media screen and (max-width:1440px) {
  .whiteSpacing{
    margin-right: 80px;
    margin-left: 80px;
  }
}
@media screen and (max-width:992px) {
  .whiteSpacing{
    margin-right: 16px;
    margin-left: 16px;
  }
}

:root{
  background-color: var( --primary-backgroundcolor);
}