.RB_Container_Table{
    overflow-x: auto;
}
.RB_Table.End{
    margin: 20px auto;
}
@media screen and (max-width:992px) {
    .RB_Table.End{
        max-width: 500px;
        overflow-x: scroll;
    }
}